@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
  height: 100%;
  width: 99%;
  font-family: 'Poppins', sans-serif;
    background-color: white;
}
.cruelty-free{
  padding: 1% 7% 1% 0%;
  height: 40px;
  width: 40px;
}
.clean{
  padding: 1% 7% 1% 0%;
  height: 40px;
  width: 40px;
}
.vegan{
  padding: 1% 7% 1% 0%;
  height: 40px;
  width: 40px;
}
.recyclable{
  padding: 1% 7% 1% 0%;
  height: 40px;
  width: 40px;
}
.announcement {
  display: inline-block;
  height: 7%;
  text-align: center;
  width: 100%;
  background: #CE8D66;
  color: white;
  font-size: 1em;
}

.announcement a { 
  color: #F6F4D2; 
}

.ruby{
  color: #8B2635;
}

.beige{
  color: #F6F4D2;
}

.french-blue{
  color: #7DB5F5;
}

.brown{
  color: #CE8D66;
}

.mauve{
  color: #C47AC0;
}


h1{
  font-size: 40px;
  text-align: center;
}

.title{
  margin-top: 1.5%;
}

.navbar{
  text-align: center;
  top: 0;
  left: 0;
  background: white;
  position: fixed;
  padding-bottom: 1.5%;
  width: 100%;
}

.user-in{
  text-align: center;
  margin-top: -6.5%;
  padding-bottom: 5.5%;
  padding-right: 1.5%;
}

.user-in a{
  color: black;
  font-weight: 600;
  font-size: 16px;
}

.user-in a:hover{
  color: #7DB5F5;
}

.navbar-a{
  text-decoration: none;
  font-size: 18px;
  color: #C47AC0;
  font-weight: 700;
  padding-left: 2%;
  padding-right: 2%;
}

.navbar-a:hover{
  text-decoration: underline;
}

.mission{
  padding-top: 13%;
  text-align: center;
}

h2{
  text-align: center;
  padding-top: 2%;
}

.p1{
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

.upper-right{
  float: right;
  padding: 1% 1.5% 1.5% 1%;
}

.footer{
  left: 0;
  bottom: 0;
  right: 0;
  margin-top: 2.5%;
  width: 100%;
  padding-bottom: 4%;
  text-align: center;
  background-color: #FFEEFF;
}

.emailForm{
  margin-bottom: 0.5%;
  font-family: 'Poppins', sans-serif;
  text-overflow: visible;
  line-height: normal;
  padding: 1% 1% 1% 0.7%;
  width: 20%;
}

.footer .theme-button{
  padding: 1% 1% 1% 1%;
  margin-left: 0.5%;
  font-family: 'Poppins', sans-serif;

}

.footer h3{
  font-weight: 300;
}

.none{
  text-decoration: none;
  color: black;
}

.testspace{
 padding-top: 14.5%;
}

h4{
  font-weight: 300;
  text-align: center;
  padding-left: 25%;
  padding-right: 25%;
}

.container{
  width: 95%;
  height: 100%;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.row1{
  display: inline-block;
  vertical-align: top;
  width: 31%;
  padding: 2% 1% 6% 1%;
}

button{
  padding: 3% 5% 3% 5%;
  background-color: #E56477;
  border-radius: 4px;
  border: 0px solid black;
  color: white;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

button:hover{
  padding: 3% 5% 3% 5%;
  background-color: #C6596A;
  border-radius: 4px;
  border: 0px solid black;
  color: white;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}
.theme-button{

  padding: 3% 5% 3% 5%;
  background-color: #E56477;
  border-radius: 4px;
  border: 0px solid black;
  color: white;
  font-weight: 700;
  
  font-family: 'Poppins', sans-serif;
}

.theme-button:hover{
  background-color: #C6596A;
  border-radius: 4px;
  border: 0px solid black;
  color: white;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}
.row1img{
  width: 100%;
  height: 30%;
}



/* SUSTAINABILITY CSS */
.sustain{
  border: 4px solid #60B97B;
  border-radius: 6px;
  padding: 0.6% 1.8% 0.6% 1.8%;
}

.testspace2{
  padding-top: 16%;
}

.highlight{
  background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #B7EFC8 50%);
}

.roo1{
  width: 92%;
  display: flex;
  padding: 4% 4% 2% 4%;
  
}

.roo1text{
  width: 40%;
  text-align: left;
  padding-right: 7.5%;
  padding-left: 7.5%;
}

.roo1 h1{
  text-align: left;
  font-size: 30px;
}

.roo1 p{
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
}

.roo1img{
  width: 40%;
  border-radius: 7px;
}



.tan{
  border: 5px solid #DECBA5;
}

.roo1 button{
  margin-top: 4%;
  background-color: #74C48C;
}

.roo1 a{
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.roo1 button:hover{
  background-color: #43A962;
  transition: 0.8s ease-in-out;
}


/* FOOTER */
.footer{
  left: 0;
  bottom: 0;
  right: 0;
  margin-top: 2%;
  width: 100%;
  padding-bottom: 4%;
  text-align: center;
  background-color: #FFEEFF;
}

.emailForm{
  margin-bottom: 0.5%;
  font-family: 'Poppins', sans-serif;
  text-overflow: visible;
  line-height: normal;
  padding: 1% 1% 1% 0.7%;
  width: 20%;
}

.footer button{
  padding: 1% 1% 1% 1%;
  margin-left: 0.5%;
  font-family: 'Poppins', sans-serif;
}

.footer h3{
  font-weight: 300;
}

.socials i{
  color: #da72d1;
  padding: 3% 1.5% 2% 1.5%;
  font-size: 25px;
}

.socials i:hover{
  color: #b964b5;
  transition: 0.8s ease-in-out;
}


